# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp/
.pnp.js
.yarn/install-state.gz

# next.js
.next/
out/
build/

# vercel
.vercel
*.pem

#  env files
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing & Coverage
coverage/

# misc / OS-specific files
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo
next-env.d.ts